@import "antd/dist/antd.css";
@import url("http://fonts.cdnfonts.com/css/hando-soft-trial");

body {
  margin: 0;
  color: rgba(0, 0, 0, 0.85);
  font-family: "Hando Soft Trial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
