.content {
  font-family: "Hando Soft Trial", sans-serif;
  font-style: normal;
  padding: 100px 0px;
  &__text {
    color: #282938;
  }
  &__name {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }
  &__title {
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    padding-right: 10%;
  }
  &__descript {
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    padding-right: 10%;
  }
}
